
{% if device_os is defined and ‘cisco’ in device_os %}
no service pad
ip ssh version 2
no ip domain-lookup
no ip http server
no ip http secure-server
no cdp run
transport input ssh
logging buffered 15000
service password-encryption

{% else %}
ntp authenticate
ntp authentication-key 1 md5 {{ ntp_peering_key }}
ntp trusted-key 1
ntp server {{ ntp_service_ipv4 }} key 1
{% endif %}
