
{% if device_os is defined and ‘cisco’ in device_os %}
no service pad
ip ssh version 2
no ip domain-lookup
no ip http server
no ip http secure-server
no cdp run
logging buffered 15000
service password-encryption

{% else %}
no ip http server
no cdp run
{% endif %}
