
interface GigabitEthernet0/11
 description {{ interface['gi0/11'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/12
 description {{ interface['gi0/12'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/13
 description {{ interface['gi0/13'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/14
 description {{ interface['gi0/14'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/15
 description {{ interface['gi0/15'].description }}
 no ip address
 shutdown 
!
interface GigabitEthernet0/16
 description {{ interface['gi0/16'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/17
 description {{ interface['gi0/17'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/18
 description {{ interface['gi0/18'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/19
 description {{ interface['gi0/19'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/20
 description {{ interface['gi0/20'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/21
 description {{ interface['gi0/21'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/22
 description {{ interface['gi0/22'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/23
 description {{ interface['gi0/23'].description }}
 no ip address
 shutdown
!
interface GigabitEthernet0/24
 description {{ interface['gi0/24'].description }}
 no ip address
 shutdown
!
