interface {{ int_type }}0/2
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/3
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/4
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/5
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/6
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/7
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/8
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/9
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/10
 description Test-description
 no switchport
 ip address 10.10.10.169 255.255.255.252
 no ip redirects
 no ip proxy-arp
 duplex full
!
interface {{ int_type }}0/11
 description Test-description
 no switchport
 ip address 10.8.10.10 255.255.255.252 secondary
 ip address 10.9.10.10 255.255.255.252
 ip helper-address 10.10.10.10
 ip helper-address 10.10.10.11
 no ip redirects
!
interface {{ int_type }}0/12
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/13
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/14
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/15
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/16
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/17
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/18
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/19
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/20
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/21
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/22
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/23
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/24
 description Test-description
 no switchport
 no ip address
 duplex full
