interface {{ int_type }}0/2
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/3
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/4
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/5
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/6
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/7
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/8
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/9
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/10
 description Test-description
 switchport access vlan 10
 switchport mode access
 speed 1000
 duplex full
!
interface {{ int_type }}0/11
 description Test-description
 switchport access vlan 10
 switchport mode access
 speed 100
 duplex full
!
interface {{ int_type }}0/12
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/13
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/14
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/15
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/16
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/17
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/18
 description Test-description
 switchport access vlan 10
 switchport mode access
!
interface {{ int_type }}0/19
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/20
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/21
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/22
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/23
 description Test-description
 no switchport
 no ip address
!
interface {{ int_type }}0/24
 description Test-description
 no switchport
 no ip address
 speed 100
 duplex full
